<!-- <div>
  <p class="txt" [class.clr]="true"><strong>Notepad </strong></p>
  <p [ngClass]="{'price clr': true}">{{50 | currency: 'INR'}}</p>
  <form #form="ngForm" (ngSubmit)="handleSubmit(form)">
    <label>
      <span>Name</span>
      <input type="text" name="name" minlength="5" required ngModel #name="ngModel"
        [ngModelOptions]="{updateOn: 'blur'}">
      <ng-container *ngIf="name.invalid && name.touched">
        <div *ngIf="name.errors?.['minlength']" style="color: red; font-size: small;">
          The min length is 5.
        </div>
        <div *ngIf="name.errors?.['required']" style="color: red; font-size: small">
          The name is required.
        </div>
      </ng-container>
    </label>
    <label>
      <span>Price</span>
      <input type="number" name="price" required="" ngModel #price="ngModel">
      <ng-container *ngIf="price.invalid && price.touched">
        <div *ngIf="price.errors?.['required']" style="color: red; font-size: small">
          The price is required.
        </div>
      </ng-container>
    </label>
    <button type="submit" class="btn">create</button>
    <div class="pre">
      <pre>{{form.value|json}}</pre>
    </div>
  </form>
</div> -->

<!-- <div>
  <form #form1="ngForm" (ngSubmit)="add(form1)">
    <input type="text" ngModel name="value">
    <button type="submit" class="btn">click</button>
  </form>
</div>
<p>{{a}}</p>
<button type="button" (click)="update()">chck</button> -->
<!-- <div>
  <button (click)="changeWorkspace()" class="btn" style="border-radius: 0;">{{learn?'Table':'Create'}}</button>
</div> -->

<div style="padding: 20px 20px">
  <!-- <app-user-list></app-user-list> -->
  <router-outlet />
</div>

<!-- <div *ngIf="!learn">
  <app-table>
  </app-table>
</div> -->